<style type="text/css">
	#img_id{
		margin:5px;
		width:200px;
		height:200px
	}
</style>

<div id="content">
	<form action="update_post.php?id={post_id}" method="post" enctype="multipart/form-data">
		<img id="img_id" src="{image}"><br>
		<input type="hidden" name="size" value="1000000">
		<div>
			<input type="file" name="update_image">
		</div>
		<label>title:</label><br><input type="text" name="title" value="{if_statement1}" /><br>
		<label for="body">body:</label><br>
		<textarea name="body" cols=50 rows=10>{if_statement2}</textarea>
		<br />
		<input type="submit" name="update_post" value="update post" /><br>
	</form>
	<a href='show_post.php?id={post_id}'>back to the post</a><br>
</div>
<br>